1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [4]:
# write your code here
list1=["Mike","","Emma","Kelly","","Brad"]
l1=[]
for i in list1:
  if i!="":
    l1.append(i)
print("List after removing empty strigs:",l1)

List after removing empty strigs: ['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [7]:
#  write your code
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [8]:
#write your code here
l1=list(map(int,input().split()))
for i in range(0,len(l1)):
  if(l1[i]==20):
    l1[i]=200
print(l1)

5 10 15 20 25 50 20
[5, 10, 15, 200, 25, 50, 200]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [13]:
# write your code herefo
l1=list(map(int,input().split()))
l2=[]
for i in range(0,len(l1)):
  if(l1[i]!=20):
    l2.append(l1[i])
print(l2)

5 20 15 20 25 50 20
[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [14]:
# write your code here
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
l1=[]
l1.append(list1[0]+list2[0])
l1.append(list1[0]+list2[1])
l1.append(list1[1]+list2[0])
l1.append(list1[1]+list2[1])
print(l1)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']